[Desktop Entry]
Categories=Utility
Exec=gxde-font-installer %f
GenericName=Font Installer
Icon=gxde-font-installer
MimeType=font/collection;font/ttf;font/otf;application/x-font-otf;application/x-font-ttf;application/x-font-type1;
Name=GXDE Font Installer
StartupNotify=true
TryExec=gxde-font-installer
Type=Application
X-gxde-Vendor=GXDE

# Translations:
# Do not manually modify!
GenericName[ar]=مُنصب الخطوط
GenericName[ast]=Instalador de fontes
GenericName[bg]=Инсталатор на шрифт
GenericName[bn]=ফন্ট ইনস্টলার
GenericName[ca]=Instal·lador de tipus de lletres
GenericName[cs]=Instalátor písem
GenericName[da]=Skrifttypeinstallation
GenericName[de]=Schriftarten-Manager
GenericName[el]=Εγκαταστάτης Γραμματοσειράς
GenericName[es]=Instalador de fuentes
GenericName[es_419]=Instalador de fuentes 
GenericName[fi]=Fonttien asentaja
GenericName[fr]=Installateur de polices
GenericName[hr]=Instaler fontova
GenericName[hu]=Betűkészlet telepítő
GenericName[id]=Penginstal Font
GenericName[it]=Font Installer
GenericName[ja]=フォントインストーラー
GenericName[ko]=글체 설치자
GenericName[lt]=Šriftų diegimo programa
GenericName[mn]=Фонт суулгагч
GenericName[ms]=Pemasang Fon
GenericName[ne]=फन्ट स्थापनाकर्ता
GenericName[nl]=Lettertype-installatie
GenericName[pl]=Instalator czcionek
GenericName[pt]=Instalador de Fontes
GenericName[pt_BR]=Instalador de Fontes
GenericName[ro]=Instalator font
GenericName[ru]=Установщик Шрифтов
GenericName[sk]=Inštalátor písem
GenericName[sq]=Instalues Shkronjash
GenericName[sr]=Инсталатер Фонта
GenericName[tr]=Yazı Tipi Kurucu
GenericName[uk]=Встановлення шрифтів
GenericName[zh_CN]=字体安装器
GenericName[zh_TW]=字體安裝器
Name[ar]=مُنصب الخطوط GXDE
Name[ast]=GXDE Font Installer
Name[bg]=GXDE инсталатор на шрифт
Name[bn]=ডিপিন ফন্ট ইনস্টলার
Name[ca]=Instal·lador de lletres del GXDE
Name[cs]=Instalátor písem
Name[da]=GXDE skrifttypeinstallation
Name[de]=GXDE Schriftarten-Manager
Name[el]=Εγκαταστάτης Γραμματοσειράς GXDE
Name[es]=Instalador de fuentes GXDE
Name[es_419]=Instalador de fuentes GXDE
Name[fi]=GXDE fonttien asennus
Name[fr]=Installateur de polices GXDE
Name[hr]=GXDE instaler fontova
Name[hu]=GXDE betűkészlet telepítő
Name[id]=Penginstal Font GXDE
Name[it]=GXDE Font Installer
Name[ja]=GXDE フォントインストーラー
Name[ko]=GXDE 글체 설치자
Name[lt]=GXDE šriftų diegimo programa
Name[mn]=Дээпин фонт суулгагч
Name[ms]=Pemasang Fon GXDE
Name[ne]=डिपिन फन्ट स्थापनाकर्ता
Name[nl]=GXDE Lettertype-installatie
Name[pl]=Instalator czcionek GXDE
Name[pt]=GXDE Font Installer
Name[pt_BR]=GXDE Instalador de Fontes
Name[ro]=Instalator GXDE Font
Name[ru]=Установщик Шрифтов GXDE
Name[sk]=GXDE Inštalátor písem
Name[sq]=Instalues Shkronjash GXDE
Name[sr]=Дипин Инсталатер Фонта
Name[tr]=GXDE Yazı Tipi Kurucu
Name[uk]=Встановлення шрифтів GXDE
Name[zh_CN]=GXDE 字体安装器
Name[zh_TW]=GXDE 字體安裝器

